<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Email</title>
    <link rel="stylesheet" href="{% static 'registration/css/reset_email.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.css' %}">

</head>
<body>
<div class="container h-100">
    		<div class="row h-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Reset password</h1>
							<p class="lead">
								Enter your email to reset your password.
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="" method="post">
                                        {% csrf_token %}
										<div class="form-group">
											<label>Email</label>
                                            <span class="text-primary"> {{ reset_form.errors.email }}</span>
                                            {{ reset_form.email }}
										</div>
                                        <div class="form-group">
											<label>Question</label>
                                            {{ reset_form.errors.question }}
                                            {{ reset_form.question }}
										</div>
                                        <div class="form-group">
											<label>Answer</label>
                                            {{ reset_form.errors.answer }}
                                            {{ reset_form.answer }}
										</div>
										<div class="text-center mt-3">
                                            <input type="submit" class="btn btn-lg btn-primary" value="Reset password">
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
<script src="{% static 'home/js/bootstrap.js' %}"></script>
</body>
</html>