{% extends 'home/base.html' %}
{% load static %}
{% load images_src %}
{% load date_format %}
{% block title %}
Profile
{% endblock %}
{% block css %}
    <link href="{% static 'user_profile/css/profile.css' %}" rel="stylesheet" >
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
    .not-visible {
        display: none;
    }
</style>

{% endblock %}
{% block content %}
<section class="section about-section gray-bg" id="about">

            <div class="container">

                <!-- follow or unfollow -->
                {% if user_username != profile.user.username %}
                <div class="pull-right meta">
                      <div class="d-flex justify-content-center">

                          {% if not profile.is_friend %}
                      <a href="{% url 'user_profile:follow' related_profile_slug=profile.profile_slug %}?next={{ request.path|urlencode }}" class="btn btn-success">Follow</a>
                    {% else %}
                        <a href="{% url 'user_profile:unfollow' related_profile_slug=profile.profile_slug %}?next={{ request.path|urlencode }}" class="btn btn-success">Unfollow</a>

                          {% endif %}
                              </div>
                  </div>
                {% endif %}

                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">{{ profile.user.full_name }}</h3>
                            <h6 class="theme-color lead">{{ profile.status}}</h6>
                            <p>{{ profile.about_me }}</p>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Address</label>
                                        <p>{{ profile.address }}</p>
                                    </div>
                                    <div class="media">
                                        <label>Age</label>
                                        <p>{{ profile.age }}</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>E-mail</label>
                                        <p>{{ profile.user.email }}</p>
                                    </div>
                                    <div class="media">
                                        <label>Phone</label>
                                        <p>{{ profile.phone }}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-avatar">
                            <img src="{{ profile.image|localhost }}" title="" alt="{{ profile.user.full_name }}" style="border-radius: 50%;
height: 250px;width: 250px;">
                        </div>
                    </div>
                </div>
                <div class="counter">
                    <div class="row">
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="500" data-speed="500">{{ profile.user_stars }}</h6>
                                <p class="m-0px font-w-600">Stars</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <h6 class="count h2" data-to="150" data-speed="150">{{ profile.number_of_posts }}</h6>
                                <p class="m-0px font-w-600">Posts</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <a class="text-decoration-none count " href="{% url 'friend:followers' profile.profile_slug %}">
                                <h6 class="count h2" data-to="850" data-speed="850">{{ profile.number_of_followers }}</h6>
                                 <p class="m-0px font-w-600">Followers</p> </a>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <div class="count-data text-center">
                                <a class="text-decoration-none count " href="{% url 'friend:following' profile.profile_slug %}">
                                <h6 class="count h2" data-to="190" data-speed="190">{{ profile.number_of_following }}</h6>
                                <p class="m-0px font-w-600">Following</p></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    <div class="container bootstrap snippets bootdey">
    <div class="row">
        <h2 class="text-muted">Posts</h2>
        <hr>
    </div>
    <div class="row">
        <!-- posts -->
    <div class="col-md-8">





        <!-- load more -->
         <div class="panel blog-container">
              <div class="panel-body">
                  <div class="container">
                        <div class="content" id="content">

                        {% for post in posts %}

                        <div class="panel blog-container single_content">
                          <div class="panel-body">
                            <div class="image-wrapper">
                              <a class="image-wrapper image-zoom cboxElement" href="#">
                                <img src="{% static 'home/img/file.png' %}" alt="{{ post.title }}">
                                <div class="image-overlay"></div>
                              </a>
                            </div>

                            <h4>{{ post.title }}</h4>
                            <small class="text-muted">By <a href="#"><strong> {{ post.posted_by }}</strong></a> |  Post on {{ post.created|d_m_y }} </small>

                            <p class="m-top-sm m-bottom-sm">
                              {{ post.description }}
                            </p>
                            <a href="{% url 'post:index' post.slug %}"><i class="fa fa-angle-double-right"></i> Continue reading</a>
                            <span class="post-like text-muted tooltip-test" data-toggle="tooltip" data-original-title="I like this post!">
                              <i class="fa fa-star"></i> <span class="like-count">{{ post.total_stars }}</span>
                                <i class="fa fa-comment"></i> <span class="like-count">{{ post.total_comments }}</span>
                            </span>
                          </div>
                        </div>

                             <hr>

                        {% endfor %}
        </div>
        <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="load-more__btn mt-3" id="load_btn">
            <button type="button" class="btn btn-success">Load More Post</button>
        </div>
        <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert'>
            No more post to load!!
        </div>
    </div>

    {{total_obj|json_script:"json-total"}}

            </div>
         </div>




    </div>


        <div class="col-md-4 pull-right">
            <h4 class="headline text-muted">
              Notifications
              <span class="line"></span>
            </h4>
            {% for notification in profile.notifications %}
            <div class="media popular-post">
              <a class="pull-left" href="{% url 'user_profile:profile'  notification.profile_slug %}">
                <img src="{{ notification.image|localhost }}" alt="">
              </a>

              <div class="media-body">
                  <a href="#" class="alert-link text-decoration-none">
                {{ notification.content }}
                      </a>
              </div>

            </div>
            {% endfor %}



        </div>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>

    <!-- https://github.com/anshuUnity/load-more-django -->
    <script>
 const loadBtn = document.getElementById('load_btn');
        const spinner = document.getElementById('spinner');
        const total = JSON.parse(document.getElementById('json-total').textContent);
        const alert = document.getElementById('alert');

        function loadmorePost() {
            var _current_item = $('.single_content').length
            const content_container = document.getElementById("content");
            $.ajax({
                url: '{% url 'user_profile:load_more' profile_slug %}',
                type: 'GET',
                data: {
                    'offset': _current_item
                },
                beforeSend: function () {
                    loadBtn.classList.add('not-visible');
                    spinner.classList.remove('not-visible');
                },
                success: function (response) {
                    const data = response.posts
                    spinner.classList.add('not-visible')
                    data.map(post => {

                        // for use post attributes in innerHTML: ${post.title}
                        content_container.innerHTML += `<div class="panel blog-container single_content">
              <div class="panel-body">
                <div class="image-wrapper">
                  <a class="image-wrapper image-zoom cboxElement" href="#">
                    <img src="{% static 'home/img/file.png' %}" alt="${post.title}">
                    <div class="image-overlay"></div>
                  </a>
                </div>

                <h4>${post.title}</h4>
                <small class="text-muted">By <a href="#"><strong> ${post.posted_by}</strong></a> |  Post on ${post.created} </small>

                <p class="m-top-sm m-bottom-sm">

                  ${post.description}
                </p>

                {# be careful here you should send the url of the posts to make it as refrence instead of using '/post/ps/' #}
                <a href="/post/ps/${post.slug}"><i class="fa fa-angle-double-right"></i> Continue reading</a>
                <span class="post-like text-muted tooltip-test" data-toggle="tooltip" data-original-title="I like this post!">
                  <i class="fa fa-star"></i> <span class="like-count">${post.total_stars}</span>
                    <i class="fa fa-comment"></i> <span class="like-count">${post.total_comments}</span>
                </span>
              </div>
            </div>
            <hr>
            `
                    })

                    if (_current_item == total) {
                        alert.classList.remove('not-visible');
                    } else {
                        loadBtn.classList.remove('not-visible');
                    }
                },
                error: function (err) {
                    console.log(err);
                },
            });
        }
        loadBtn.addEventListener('click', () => {
            loadmorePost()
        });
    </script>


{% endblock %}

